---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" heading="Uh oh" leading="You seem lost at sea sailor, maybe go back?" navigation>
    <!-- <div class="grid container max-w-3xl space-y-6 place-items-center">
        <img src={notFound.src} loading="lazy" decoding="async" alt="not found svg">
    </div> -->
</Layout>
