---
import Layout from "@/layouts/Layout.astro";
---

<Layout heading="About" leading="Learn a little bit more about me" spacing={6} navigation>
    <article class="grid grid-cols-3 gap-6">
        <section class="col-span-2"></section>
        <aside>
            <!-- <Image src={jorqensen} alt={"profile"} width={300} height={300} class="rounded-md shadow-md" /> -->
        </aside>
    </article>
</Layout>
