---
import about from "@/about";
import Blockquote from "@/components/Blockquote.astro";
import Box from "@/components/Box.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    heading={about.name}
    prefix="Hello, I'm"
    leading="Customer service by day • gamer by noon • engineer by night"
    spacing={10}
    navigation
>
    <Section heading="What I am doing currently" columns={2}>
        <Box heading="Customer Service" item={{ url: "https://ordbogen.com", name: "Ordbogen" }} bordered padding={4} text="small">
            <p>In my day time, I am working as a CSA (Customer Service Agent) for Ordbogen A/S.</p>
        </Box>
        <Box heading="Shitware Ltd" item={{ url: "https://shitware.ltd", name: "Website" }} bordered padding={4} text="small">
            <p>I'm the CEO of a "4 fun" team of developers creating various projects using different technologies.</p>
        </Box>
        <Box
            heading="Helping Developers"
            item={{ url: "https://discord.gg/laravel", name: "Laravel Discord" }}
            bordered
            padding={4}
            text="small"
        >
            <p>When I have time to spare, I help other PHP/Laravel developers on the official Discord server.</p>
        </Box>
        <Box heading="Gaming" item={{ url: about.socials.steam, name: "Steam Profile" }} bordered padding={4} text="small">
            <p>I love gaming from time to time, primarily singleplayer games going for 100% completion. Both on PC and PS5.</p>
        </Box>
    </Section>

    <Section heading="What others say" columns={3}>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
        <Blockquote cite="TechReview Magazine">A true maestro of code, Mathias orchestrates complex algorithms with finesse.</Blockquote>
    </Section>
</Layout>
