---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

const link = tv({
    base: "text-app-600 transition-colors hover:text-app-500",
    variants: {
        underline: {
            true: "underline underline-offset-2",
        },
    },
});

interface Props extends VariantProps<typeof link>, HTMLAttributes<"a"> {
    underline?: boolean;
}

const { class: className, href, target, underline } = Astro.props;
---

<a href={href} target={target} class={link({ underline, className })}><slot /></a>
