---
interface Props {
    href: string;
    brand?: "app" | "laravel" | "rust" | "c#" | "golang";
    target?: "_blank" | "_self" | "_parent" | "_top" | "framename";
}

const { href, brand = "app", target = "_self" } = Astro.props;
---

<a href={href} target={target} class="text-app-600 transition-colors hover:text-app-500"><slot /></a>
