---
import "@fontsource/rubik/variable.css";

const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mathias Jørgensen - {frontmatter.title}</title>
    </head>
    <body class="bg-blob bg-cover font-rubik antialiased">
        <div class="container mx-auto max-w-4xl xs:py-0">
            <article
                class="prose prose-slate max-w-none rounded-xl p-6 selection:bg-slate-500 selection:text-slate-900 prose-headings:text-slate-500 prose-p:text-slate-500 prose-a:font-normal prose-a:text-app prose-img:mx-auto prose-img:w-1/2"
            >
                <slot />
            </article>
        </div>
    </body>
</html>
